# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Git repository\flowery_ios\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
